<div class="container">
  <h1>Enter A Tweet</h1>
  <form id='add_tweet' method="post" action='/'>
    <input type="string" name="tweet">
    <input type="submit" name="submit!">
  </form>
  <div id='content'> </div>
</div>
